<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>mac_flash_source</string>
	<key>CFBundleExecutable</key>
	<string>mac_flash_source</string>
	<key>CFBundleIconFile</key>
	<string>generated-9a6ec056a6a4396bc445c6513a7b12828a20e09a1fdf7155d3bc1538a29e6835.icns</string>
	<key>CFBundleIdentifier</key>
	<string>mac_flash_source</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mac_flash_source</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
