<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>StreamBetter</string>
	<key>CFBundleExecutable</key>
	<string>StreamBetter</string>
	<key>CFBundleIconFile</key>
	<string>generated-477af2695bbf666dafeea556d58628c0b661f2adc04247acb74f9c03f7c8c975.icns</string>
	<key>CFBundleIdentifier</key>
	<string>StreamBetter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>StreamBetter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
